.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #50097b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* have to put opacity in both, need to transition to hidden and to being visible */
.queryPrompt {
  transition: opacity 1s;
}

.visibleQueryPrompt {
  opacity: 1;
}

.hiddenQueryPrompt {
  opacity: 0;
}

.loader {
  /* we don't want acceleration, so do linear */
  animation: 1s linear infinite spin;
  font-size: 48px;
  text-align: center;
  transform: rotate(45deg);
}

/* this is animation css */
/* keyframes is plan for animation. saying that you want element to go from one state to another */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
